<h2>This is the left column View</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dictum nibh. Aliquam erat volutpat. Quisque eget
    bibendum nisi, id mattis sem. Vivamus semper turpis ut mauris tempor blandit. Etiam magna metus, ultrices eu velit
    eget, viverra pharetra sapien. Nulla sit amet auctor dui. Pellentesque semper sem vel neque sollicitudin commodo.
    Sed pharetra nisl quis eros tristique rutrum. Nam libero eros, semper et luctus sed, condimentum vel magna. Aliquam
    tincidunt sed neque non euismod. Nulla auctor mi ac rhoncus tempor. Quisque ultrices nec tortor quis mollis.
</p>